<div class="container news">
	<div class="row">
		<div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1">
			<div class="row same-height">
				<% _.each(posts, function(post, number) { %>
					<div class="col-sm-6 col-md-4 col-lg-4 box <% if (number > 1) { %>hidden-xs hidden-sm<% } %>">
						<a href="<%- post.link %>" class="news-card">
							<div class="row">
								<div class=" col-md-12">
									<img src="<%- post.image %>">
								</div>
								<div class="caption col-md-12">
									<h4><%- post.link_title %></h4>
									<p><%- post.message %></p>
								</div>
							</div>
						</a>
					</div>
				<% }); %>
			</div>
		</div>
	</div>

	<% if (posts.length > 2) { %>
		<div class="text-right more-events">
			<a class="load-more" href="#"><strong>More Events</strong></a>
		</div>
	<% } %>
</div>