#news {
	padding-bottom: 80px;
	.news {
		margin-top: 80px;
		.news-card img {
			@include media-down(sm) {
				max-width: 100%;
				margin-bottom: 20px;
			}
		}
	}
	.boxes {
		@include media-down(sm) {
			display: block;
		}
		.event-box {
			.caption {
				@include media-down(xs) {
					padding: 0;
				}
			}
		}
	}
	.more-events {
		display: none;
		@include media-down(sm) {
			display: block;
		}
	}
}