#news {
	padding: 45px 0;
	.news-card {
		display: block;
		margin: 30px 20px 0 20px;
		color: $black;
		h4 {
			font-weight: bold;
			margin-bottom: 17px;
		}
		img {
			max-width: 100%;
			margin-bottom: 15px;
		}
	}
}