<div class="my-box">
	<h2>My Office</h2>
</div>
<div class="container">
	<a href="#" class="pull-right hidden-sm hidden-xs"><strong>View Map and Directions</strong></a>


	<!-- Nav tabs  class="active" -->
	<ul class="nav nav-tabs" role="tablist">
		<% _.each(profile.suboffices, function(office, key) { %>
		<li class="<%- key == 0 ? 'active' : '' %>"><a href="#city<%- key %>" data-toggle="tab">[<%- office.city %>] <%- office.office_title %></a></li>
		<% }); %>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">

		<% _.each(profile.suboffices, function(office, key) { %>
		<div role="tabpanel" class="tab-pane <%- key == 0 ? 'active' : '' %>" id="city<%- key %>">
			<div class="v-line">
				<div class="map pull-right" id="map-container"></div>
				<div class="location pull-left">
					<div class="address">
						<div class="col-sm-6 col-md-6 col-lg-6">
							<h3>Location:</h3>
							<p><%- office.street %></p>
							<p>Optional Line 2</p>
							<p><%- office.city %>, <%- office.state %>, <%- office.suite %> <%- office.zip_code %></p>
							<p><%- office.phone %></p>
							<a href="#" class="btn tomato-btn">Contact Agent</a>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<h3>Hourse:</h3>
							<p><%- office.office_hours %></p>
						</div>
					</div>
					<div class="image">
						<img src="<%- office.office_image %>">
					</div>
				</div>
			</div>
			<div class="description">
				<h3>Vestibulum ullamcorper ligula</h3>
				<p>Short Description About Agent: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper ligula sapien, eget rhoncus sapien congue vitae. Donec iaculis mollis ipsum ut rhoncus.</p>
				<a href="#"><strong>Learn More About [Agent A. Agent Longname]</strong></a>
			</div>
		</div>
		<% }); %>
		
	</div>

</div>