
#office {
	background-color: $dark-white;
	padding: 45px 0;
	clear: both;

	.image {
		margin-top: 20px;
		display: inline-block;
		img {
			max-width: 100%;
		}
	}
	h3 {
		margin: 20px 0;
	}
	.view-map {
		text-align: right;
		top: -30px;
		position: absolute;
		display: block;
		right: 0;
	}
	@include media-down(sm) {
		.map {
			height: 210px;
			width: 100%;
			position: relative;
		}
		.image img {
			width: 80%;
		}
	}	
	@include media-up(xs) {
		.map {
			max-width: 100%;
			height: 100%;
			position: absolute !important;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}
}