
#office {
	background-color: $dark-white;
	padding: 45px 0;
	clear: both;
	.same-line > div {
		padding: 0;
	}
	.v-line {
		& > * {
			vertical-align: bottom;
		}
		.description {
			margin-top: 100px;
		}
	}
	.office-photo {
		.description {
			float: right;
		}
		.map {
			img {
				float: right;
			}
		}
	}
	.image {
		margin: 20px 0;
		width: 100%;
	}
	h3 {
		margin: 20px 0;
	}
	.nav-tabs {
		border-bottom: none;
		li {
			&.active {
				& > a, & > a:hover, & > a:focus {
					font-weight: bold;
					color: $nice-blue;
				}
			}
			a {
				background-color: transparent;
				border: none;
				padding-left: 0;
				&:hover {
					color: $nice-blue;
				}
			}
		}
	}
}