<div class="container text-center">
  <img src="/images/logo.png">
  <div>
    <ul>
      <li><a href="about_me.html">About Me |</li></a>
      <li><a href="product.html">Products |</li></a>
      <li><a href="events.html">Events |</li></a>
      <li><a href="news.html">News |</li></a>
      <li><a href="/#sf_contact">Contact Me |</li></a>
      <li><a href="#">Privacy Policy |</li></a>
      <li><a href="#">Get a Quote |</li></a>
      <li><a href="https://oams.state-farm.com/auth/UI/Login/">My Account</li></a>
      <br>
      <li><a href="#">Agent <%- profile.full_name%>, State Farm Site |</li></a>
      <li><a href="#">Call us anytime at <%- profile.suboffices[0].phone %></li></a>
    </ul>
  </div>
</div>