<div class="container sf-events">
	<div class="col-md-10 col-md-offset-1 col-xs-12">
		<% _.each(events, function(event, key) { %>
			<div class="boxes v-line <% if (key > 1) { %>hidden-xs hidden-sm<% } %>">
				<div class="event-box">
					<div class="image">
						<img src="<%- event.photo %>">
					</div>
					<div class="caption">
						<h4><%- event.event_name %></h4>
						<time><%- event.formattedDate %></time>
						<p><%- event.details %></p>
						<a href="<%- event.rsvp_link %>" class="<%- event.rsvp_type %>"><%- event.rsvp_info %></a>
					</div>
				</div>
			</div>
		<% }); %>

		<% if (events.length > 2) { %>
		<div class="text-right more-events">
			<a class="load-more" href="#"><strong>More Events</strong></a>
		</div>
		<% } %>
	</div>
</div>