#events {
	padding-bottom: 150px;
	.sf-events {
		margin-top: 40px;
	}
	.same-height {
		.caption {
			@include media-down(xs) {
				padding: 0;
			}
		}
	}
	.boxes {
		display: block;
	}
	.more-events {
		display: none;
		@include media-down(sm) {
			display: block;
		}
	}
}