#navigation {
	.top-header {
		background-color: white;
		ul {
			margin-bottom: 0;
			li a {
				margin-left: 20px;
				font-size: 12px;
				line-height: 19px;
				color: $nice-blue;
				text-decoration: none;
			}
		}
	}
	.navigation.navbar-fixed-top {
		padding: 10px 0;
		@include media-down(sm) {
			padding: 0 15px;
		}
	}
	.navbar-fixed-top .nav {
		margin-right: 0;
	}
	.navigation {
		font-size: 22px;
		background-color: $tomato;
		padding: 18px 0;
		transition: all 0.4s ease-out;
		@include media-down(sm) {
			padding: 0 15px;
			position: fixed;
			width: 100%;
			right: 0;
			z-index: 10;
		}

		.navbar-brand {
			padding: 0;
			line-height: 50px;
			@include media-down(md) {
				line-height: 40px;
			}
			@include media-down(sm) {
				line-height: 50px;
			}
			img {
				height: $logo-height;
				display: inline;
				@include media-down(md) {
					height: 23px;
				}
				@include media-down(sm) {
					height: 21px;
				}
			}
		}
		.navbar-nav{
			li {
				a {
					margin: 0 0 0 25px;
					padding: 0;
					color: $white;
					line-height: 50px;
					text-align: right;
					font-size: 22px;
					font-family: 'Arial';
					font-weight: bold;
					&:hover, &:focus {
						background-color: transparent;
					}
					small {
						font-size: 12px;
					}
					@include media-down(md) {
						margin: 0 11px;
					}
					@include media-down(sm) {
						line-height: 1.8;
						margin-right: 25px;
						font-size: 18px;
						font-weight: normal;
					}
					span {
						text-align: right;
						color: $white;
						display: block;
						font-size: 16px;
					}
				}
			}
		}
		.navbar-toggle {
			font-size: 20px;
			line-height: 20px;
			padding: 18px 0;
			color: $white;
			margin: 0;
			a {
				i {
					padding-left: 5px;
				}
			}
		}
	}
	#navigation-mobile {
		display: none;
		@include media-down(sm) {
			display: block;
		}
	}
	#mobile-header {
		a {
			color: $white;
		}
	}
}
.sidr {
	background: $tomato;
	box-shadow: none;
	font-family: 'Arial';
	top: 58px;
	text-align: right;
	padding-right: 15px;
	font-size: 16px;
	.sidr-inner {
		list-style: none;
		li {
			margin: 7px 0; 
			a {
				color: $white;
				small {
					font-size: 12px;
				}
			}
		}
	}
}