<!-- Top header -->
<div class="top-header visible-lg visible-md">
  <div class="container">
    <ul class="list-inline text-right">
      <li><a href=" https://oams.state-farm.com/auth/UI/Login/">My Account</a></li>
      <li><a href="#">Get a Quote</a></li>
    </ul>
  </div>
</div>

<!-- Main navigation -->
<nav class="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="mobile-header" aria-expanded="false">
        <a id="responsive-menu-button" href="#sidr-main">MENU
          <i class="fa fa-bars pull-right" aria-hidden="true"></i>
        </a>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
    <!-- Desktop menu -->
      <ul class="nav navbar-nav navbar-right visible-lg visible-md">
        <li><a href="about_me.html">About Me</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">News</a></li>
        <li><a class="contact-button" href="#contact">Contact Me</a></li>
      </ul>
    <!-- End of desktop -->

    <!-- Mobile, tablet menu -->
      <ul class="nav navbar-nav navbar-right hidden-lg hidden-md" id="navigation-mobile">
        <li><a href="#"><small>My Account</small></a></li>
        <li><a href="#"><small>Get a Quote</small></a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#contact">Contact Me</a></li>
        <li><a href="#"><%- profile.first_name %> <%- profile.last_name%></a></li>
        <li><a href="#"><%- profile.phones.phone %></a></li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>