#profile {
	padding-bottom: 30px;	
	.profile-info {
		margin-top: 40px;
		padding-bottom: 30px;
		.address {
			color: #000;
			@include media-down(md) {
				padding: 0;
			}
			p, a {
				font-size: 24px;
				color: #000;
				@include media-down(sm) {
					font-size: 16px;
				}
				@include media-down(xs) {
					font-size: 21px;
					font-weight: bold;
				}
			}
			@include media-down(sm) {
				text-align: center;
				margin-top: 20px;
				p {
					font-size: 16px;
				}
			}
		}
		.description {
			p {
				@include media-down(sm) {
					margin: 25px 0;
				}
				@include media-down(xs) {
					font-size: 21px;
				}
			}
		}
		.quote-box {
			background-color: $dark-white;
			border-top: 10px solid $rouge;
			padding: 15px;
			@include media-down(xs) {
				margin: 0 15px;
			}
			select {
				padding: 4px 12px;
			}
			p {
				font-size: 20px;
				font-weight: bold;
				small {
					font-size: 16px;
				}
			}
			.form-control {
				margin-bottom: 8px;
				height: 28px;
			}
			.zip-code {
				#zipCode {
					width: 76%;
					border-radius: 0;
					display: inline-block;
					@include media-down(sm) {
						width: 85%;
					}
				}
				.btn-default {
					background-color: $nice-blue;
					color: $white;
					height: 28px;
					width: 22%;
					padding: 3px;
					font-weight: bold;
					font-size: 14px;
					@include media-down(sm) {
						width: 14%;
					}
				}
			}
			.zip-code + a {
				font-size: 11px;
				color: $nice-blue;
				font-weight: bold;
				text-decoration: none;
			}
		}
		.quote-box + a {
			font-size: 13px;
			color: $nice-blue;
			margin-top: 10px;
			display: block;
			@include media-down(xs) {
				margin: 10px 10px;
			}
			@include media-down(sm) {
				padding-bottom: 30px;
			}
		}
	}
}